<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars list</title>
<style>
    table{
        border-collapse: collapse;
        width: 100%
    }
    th, td {
        border: 1px #0e7780;
        padding: 8px;
        text-align: left;
    }
</style>
</head>
<body>
<h1> Cars list</h1>
<table>
    <tr>
        <th>Model</th>
        <th>Color</th>
    </tr>
    <tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.model}"> Model </td>
            <td th:text="${car.color}">Color </td>
        </tr>
    </tr>
</table>
</body>
</html>